body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;  
    font-size: 15px;
    color: #212121;
	margin: 0;
	padding: 0;
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    position: relative;
}
.logo {
	font-weight: 700;  
    font-size: 25px;
}
.head {
	display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 46px;
    padding-bottom: 55px;
}
.info {
	display: flex;
	justify-content: space-between; 
	list-style-type: none;
}
.info-item, .nav-link {
	font-weight: 400;  
    font-size: 20px;
    color: #212121;
}
.nav-link:hover {
	border-bottom: 2px solid #212121;
}
.info-item {
	padding-right: 30px;
}
.info-item a {
	text-decoration: none;
}
.nav-btn{
    background-color: transparent;
    border: none;
    padding: 0px;
    padding-left: 30px;
    font-size: 20px;
}
.nav-btn svg {
    color: #212121;  
}
.page {
    background-image: url(../img/header-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
.page h1 {
	font-weight: 600;  
    font-size: 60px;
}
.page-line {
	padding-top: 185px;
	padding-bottom: 140px;
}
.page-line p {
	font-weight: 400;  
    font-size: 22px;
}
.page h1, .page p {
	text-align: center;
    color: #fff;	
}
.btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background-color: transparent;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 25px 33px;
    margin-right: 52px;
    margin-left: 52px;
    transition: background-color 0.3s linear;
}
.btn:hover {
	background-color: #00897b;
	border-color: #00897b;
}
.center {
	text-align: center;
}
.page > .center {
	padding-bottom: 128px;
}
.btn-page {
    background-color: transparent;
    color: #fff;
    font-size: 26px;
    display: block;
    width: 47px;
    height: 34px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    padding-bottom: 72px;
}
.aboutUs {
	padding-top: 125px;
}
.title-h2 {
    font-size: 30px;
    font-weight: 700;

}
.title-h3 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
}
.box-text .title-h2 {
   margin-bottom: 35px;
}
.box-text {
	max-width: 640px;
	margin: 0 auto;
}
.box-text > p {
	padding-bottom: 125px;
}
.box-item {
	display: flex;
	padding-bottom: 125px;
}
.box-item-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icon {
	width: 60px;
	height: 60px;
	padding-top: 40px;
}
.services {
	background-color: #e4fdf9;
}
.services-box {
    padding-top: 170px;
    padding-bottom: 120px;
}
.services-grid {
    display: grid;
	grid-template:  1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 30px 30px;
}
.grid-box-item {
    display: flex;
    background-color: #fff;
    transition: background-color 0.5s linear, color 0.3s linear, display 0.3s linear;
}
.btn-services {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background-color: transparent;
    text-decoration: none;
    color: #212121;
    border: 2px solid #212121;
    padding: 18px 7px;
}
.btn-pad {
    padding-top: 65px;
    padding-bottom: 70px;
}
.grid-box-item:hover {
    background-color: #00897b;
    color: #fff;
}
.grid-box-item:hover .btn-services {
    color: #fff;
    border-color: #fff;
}
.smartphone {
    transition: display 0.3s linear;
}
.smartphone-while {
    display: none;
    transition: display 0.3s linear;
}
.grid-box-item:hover .smartphone {
    display: none;
}
.grid-box-item:hover .smartphone-while {
    display: block;
}
.works-btn {
    display: flex;
	justify-content: center;
    list-style-type: none;
    padding-bottom: 140px;
}
.latestWorks-box {
    padding-bottom: 164px;
}
.latestWorks-box-text {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
}
.works-item {
    font-weight: 600;  
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.works-link {
    color: #212121;
    text-decoration: none;
    border: 2px solid #00897b;
    padding: 18px 20px 19px;
    transition: background-color 0.3s linear, color 0.3s linear;
}
.works-link:hover {
    background-color: #00897b;
    color: #fff;
}
.latestWorks-grid {
    display: grid;
	grid-template:  1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 30px 30px;
    padding-bottom: 155px;
}
.grid-photo {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 370px;
    transition: background-color 0.3s linear;
}
.grid-photo img {
    position: absolute;
    left: calc(50% - 185px);
    z-index: -1;
}
.grid-photo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.grid-text {
    position: absolute;
    width: 100%;  
    text-align: center; 
    top: calc(50% - 30px);
    display: none;

}
.grid-photo:hover .grid-text {
    display: block;
}
.grid-text h3 {
    font-weight: 600;  
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
}
.grid-text p {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    margin: 0;
}
.latestWorks-btn {
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
    text-decoration: none;
    padding: 28px 62px;
    background-color: #00897b;
	color: #fff;
}
.pricingPlan {
    padding-bottom: 124px;
    background-color: #f0f1f1;
}
.pricingPlan-box-text {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 130px;
}
.pricingPlan-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 125px;
}
.plan {
    background-image: url(../img/plan-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 31.6%;
    padding-bottom: 85px;
    transition: box-shadow 0.3s linear;
}
.plan h2 {
    font-size: 25px;
    color: #fff;
}
.plan h3 {
    font-size: 17px;
    color: #fff;
    padding-bottom: 80px;
}
.plan h3 sup {
    font-size: 25px;
}
.plan h3 span {
    font-size: 50px;
}
.plan-text {
    max-width: 178px;
    margin: 0 auto;
}
.desc {
    font-weight: 300;
    font-size: 17px;
    color: #212121;
    border-bottom: 1px solid #bfbfbf;
    padding-top: 37px;
    padding-bottom: 14px;
}
.btn-plan {
    padding-top: 75px;
}
.btn-order {
	font-weight: 600;
	font-size: 20px;
	background-color: transparent;
    text-decoration: none;
    color: #212121;
    border: 2px solid #000;
    padding: 20px 30px;
    transition: background-color 0.3s linear, border-color 0.3s linear, color 0.3s linear;
}
.plan:hover {
    box-shadow: 0 0 25px 3px rgba(0,0,0,0.35);
}
.plan:hover .btn-order {
    background-color: #00897b;
    border-color: #00897b;
    color: #fff;
}
.teamMember {
    background-color: #fff;
}
.teamMember-box {
    padding-top: 120px;
    max-width: 1170px;
}
.teamMember-box-text {
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 130px;
}
.teamMember-flex {
    display: flex;
    justify-content: space-between;
}

.member {
    flex-basis: 32%;
}
.member-photo {
    overflow: hidden;
    height: 320px;
    position: relative;
    padding-bottom: 38px;
}
.member-photo img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 320px;
    border-radius: 10px;
}
.member h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding-bottom: 12px;
}
.memberLink {
    display: flex;
	justify-content: space-evenly;
	list-style-type: none;
    padding: 33px 0 128px;
    font-size: 30px;
}
.link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #d8d9d9;
    transition: background-color 0.3s linear
}
.memberLink svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00897b;
    transition: color 0.3s linear
}
.link:hover {
    background-color: #3949ab;
}
.link:hover svg {
    color: #fff;
}
.ellipse {
    display: flex;
    justify-content: center;
    padding-bottom: 125px;
}
.ellipse1,
.ellipse2,
.ellipse3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00897b;
}
.ellipse1 {
    background-color: #3949ab;
}
.ellipse2 {
    margin-left: 9px;
    margin-right: 9px;
}
.blog {
    background-color: #e4fdf9;
}
.blog-box-text{
    max-width: 640px;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 127px;
}
.blog-section {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 0 30px;
    padding-bottom: 154px;
}

.blog-element-img {
    overflow: hidden;
    height: 400px;
    position: relative;
}
.blog-element-img img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.blog-element {
    text-align: left;
}
.blog-element h2 {
    padding-top: 60px;
    font-weight: 600;
    font-size: 25px;
    transition: color 0.2s linear
}
.blog-element h2:hover {
    color: #00897b;
    cursor: pointer;
}
.data{
    font-weight: 600;
    font-size: 17px;
}
.data svg{
    padding-right: 14px;
}
.data span{
    padding-right: 40px;
}
.blog-box-btn {
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
    text-decoration: none;
    padding: 28px 55px;
    background-color: #00897b;
	color: #fff;
}
.blog-box p{
    padding-bottom: 154px;
}
.contact {
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 220px;
}
.contact-box-text {
    max-width: 620px;
    margin: 0 auto;
    color: #fff;
    padding-top: 125px;
    padding-bottom: 100px;
}
.adres {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 75px;
}
.adres-element {
    max-width: 260px;
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
}
.adres-ellipse {
    position: relative;
    margin: 0 auto;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #3949ab;
}
.adres-ellipse svg {
    font-size: 62px;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-element {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
input[type="text"], input[type="email"], textarea {
    font-size: 20px;
    font-weight: 700;
    color: #4d4d4d;
}
input[type="text"] {
    margin-right: 15px;
}
input[type="email"] {
    margin-left: 15px;
}
input[type="text"], input[type="email"] {
    width: 48%;
    height: 85px;
    border-radius: 5px;
    padding-left: 20px;
}
textarea {
    padding: 0;
    resize: none;
    width: 100%;
    height: 325px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.placeholder {
    box-sizing: content-box;
    padding-top: 30px;
    padding-left: 20px;
}
.btn-form {
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
    font-size: 20px;
    padding: 28px 84px;
    border-radius: 5px;
    background-color: #fff;
    float: right;
}
.footer {
    padding-top: 22px;
    padding-bottom: 22px;
}
.footer h2 {
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
    font-size: 20px;
    margin: 0;
}